.keywordText {
    text-decoration: underline;
    border-radius: 7px;
    padding: 0 2px;
}

.keyword-tooltip {
    padding: 5px;
    border: 2px solid var(--foreground-rgb);
    border-radius: 10px;
    width: calc(100vw - 100px);
    min-width: 150px;
    max-width: 400px;
    text-align: center;
    background: var(--background-deep-rgb);
}

dialog .keyword-tooltip {
    padding: 5px;
    border: 2px solid var(--foreground-rgb);
    border-radius: 10px;
    width: calc(80vw - 250px);
    min-width: 150px;
    max-width: 400px;
    text-align: center;
    background: var(--background-deep-rgb);
}