
.game-nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    bottom: 6px;
    padding: 5px 10px;
    z-index: 10;
}

.nav-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: var(--blue);
    box-shadow: 0px 0px 4px #000;
}

.nav-button:active {
    background: var(--dark-blue);
}

.profile-bar {
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 30px;
    border: 2px solid var(--foreground-rgb);
    width: 50%;
    max-width: 200px;
    height: 60px;
    background: var(--foreground-rgb);
    box-shadow: 0px 0px 7px 0px #000;
    outline: none;
    border: 0;
    padding-left: 2px;
    font-family: inherit;
}

.profile-bar:active {
    box-shadow: 0px 0px 9px 6px rgba(0, 0, 0, 0.25) inset;
}

.profile-avatar {
    position: relative;
    overflow: hidden;
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.profile-avatar img {
    object-fit: cover;
    object-position: 0 15px;
    scale: 3;
    background: rgb(148, 148, 148);
}

.health-level-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-right: 10px;
}

.health-level-container span {
    text-align: left;
    font-size: 0.9em;
}

.monster-dialog {
    display: flex;
    padding-bottom: 10px;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

.monster-avatar {
    position: relative;
    width: 271px;
    height: 141px;
    background: #493936;
}

.monster-avatar img {
    object-fit: cover;
    object-position: 50% 20%;
}

.monster-description {
    font-size: 14px;
    text-align: center;
    padding: 0px 2px;
}

.monster-stats {
    display: flex;
    /*width: 217px;*/
    flex-direction: column;
    align-items: center;
}

.fight-btn {
    background: var(--red);
    padding: 10px 15px;
    border-radius: 25px;
}