@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
:root {
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: #eeeeee;
  --background-rgb: #3A4750;
  --background-color: 58, 71, 80;
  --background-deep-rgb: #303841;
  --green: #2FD622;
  --blue: #106CA5;
  --dark-blue: #0c4f79;
  --red: #D72323;
  --dark-red: #a51919;
  --orange: #D6A022;
  --gold: #D7D023;
  --dark-orange: #ac8220;
}

/*@media (prefers-color-scheme: dark) {}*/
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


@layer default {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    -webkit-tap-highlight-color: transparent;
  }

  *::-webkit-scrollbar {
    background: transparent;
    height: 5px;
    width: 5px;
  }
  
  *::-webkit-scrollbar-thumb {
    background: var(--blue);
    border-radius: 10px;
    height: 5px;
    width: 5px;
  }
}

#__next,
main,
html,
body {
  width: 100vw;
  height: 100vh;
  font-family: 'Zen Dots', sans-serif;
  /*overflow-x: hidden;*/
}

body {
  color: var(--foreground-rgb);
  background: var(--background-rgb);
  font-size: 16px;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.dialog-frame {
    padding: 5px;
    border: 2px solid var(--foreground-rgb);
    border-radius: 10px;
    width: calc(100vw - 100px);
    min-width: 150px;
    max-width: 400px;
    text-align: center;
    background: var(--background-deep-rgb);
}

dialog {
    position: fixed;
    left: 50%;
    top: 50%;
    max-width: 500px;
    min-width: 277px;
    transform: translate(-50%, -50%);
    border: 2px solid var(--foreground-rgb);
    background: var(--background-rgb);
    border-radius: 10px;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
    color: var(--foreground-rgb)
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.checkered-list:nth-child(even) {
  background: var(--background-rgb);
}

.checkered-list:nth-child(odd) {
  background: var(--background-deep-rgb);
}

.section-title {
  font-size: 1.25em;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
