.shop-controls {
    display: flex;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.sell-btn {
    background: var(--gold);
}

.coin-balance {
    text-align: center;
}

.shop-filter {
    color: var(--foreground-rgb);
    font-size: 0.875em;
}

.shop-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.shop-section-items {
    display: flex;
    justify-content: center;
    padding: 10px;
    gap: 5px;
    flex-wrap: wrap;
}

.get-coins-btn {
    position: fixed;
    right: 10px;
    bottom: 10px;
    height: 50px;
    background: var(--gold);
}

.dialog-header {
    display: flex;
    height: 32px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: var(--orange);
    color: var(--foreground-rgb);
}

.coin-option {
    display: flex;
    padding: 5px;
    justify-content: center;
}

.add-coin-btn {
    display: flex;
    padding: 10px;
    gap: 2px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 2px solid var(--orange);
    background: var(--background-deep-rgb);
}

.add-coin-btn:active {
    box-shadow: 0px 0px 11px 2px var(--orange) inset;
}