@layer {
    .meter-bar {
        background: var(--background-deep-rgb);
        min-width: 10px;
        height: 16px;
        padding: 2px;
        border-radius: 25px;
    }

    .meter-bar-empty {
        position: relative;
        background: var(--background-rgb);
        border-radius: inherit;
        height: 100%;
        overflow: hidden;
    }

    .meter-bar-fill {
        width: 75%;
        height: 100%;
        border-radius: inherit;
        background: var(--green);
        font-size: 8px;
    }

    .bar-label {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .labeled-bar {
        position: relative;
        height: 32px;
        width: 200px;
    }

    .labeled-bar .meter-bar {
        position: relative;
        top: 9px;
        width: 100%;
    }

    .label-container {
        position: absolute;
        top: 2px;
        font-size: 12px;
        text-shadow: 1px 1px 1px #000;
        display: flex;
        width: 100%;
        padding: 0px 8px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}