.stat-sheet {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #C5C5C5;
    background: rgba(0, 0, 0, 0.26);
}

.stat-sheet-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 7px;
    align-self: stretch;
}

.stat-separator {
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.30);
}

.ability-view {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    align-self: stretch;
}

.ability-title {
    display: flex;
    padding: 5px 10px;
    align-items: center;
    font-size: 1.25em;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.226);
}

.tooltip {
    position: absolute;
    width: max-content;
    text-align: center;
    top: auto;
    right: 0px;
    bottom: 100%;
    left: 50%;
    max-width: 35vw;
    min-width: 150px;
    padding: 5px;
    transform: translate(-50%, 0);
}
