.tooltip {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    display: none;
    z-index: 10;
    /* max-width: 50vw; */
    /*padding: 5px; */
}

.tooltip-container {
    position: relative;
    width: fit-content;
}